.navbar-button {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.navbar-button-text {
    height: 50%;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 300;
}
