
.cart {
    margin-top: 100px;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.cart-cart-side {
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
}

.cart-info-side {
    left: 70vw;
    width: 30vw;
    height: 380px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.cart-info-side.scrolled{
  position: fixed;
  top: 210px; /* Maximum height where you want to restrict the element */
}


.cart-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
}

.cart-your-cart-text {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.cart-mini-summary {
    width: 100%;
    font-size: 1.3rem;
    color: #716969;
    margin-bottom: 40px;
}

.cart-continue-button {
    width: 220px;
    height: 40px;
    background-color: black;
    border-radius: 5%;
    color: white;
    text-align: center;
    cursor: pointer;
}

.cart-continue-button-text {
    color: white;
    text-align: center;
    transform: translate(0%, 40%);
}

.cart-order-summary-text {
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}

.cart-mini-details {
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.cart-mini-detail {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 300;
}

