
.cart-item {
    max-width: 800px;
    width: 90%;
    height: 225px;
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.cart-item-image {
    height: 100%;
    width: 225px;
    background-color: black;
}

.cart-item-info {
    margin-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
