
.cart-item {
    max-width: 800px;
    width: 90%;
    height: 225px;
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 2vh;
    position: relative;
}

.cart-item-image {
    height: 100%;
    width: 225px;
    background-image: url("../../../../public/placeholder.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cart-item-info {
    height: 100%;
    width: 10%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item-remove-button {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 15px;
    right: 15px;
    background-image: url('../../../../public/xout.png');
    background-size: cover;
    cursor: pointer;
}

.cart-selected-options {
    height: 100%;
    width: calc(90% - 225px);
    transform: translate(0%, 40%);
}
