
.cart-item {
    max-width: 800px;
    width: 90%;
    height: 225px;
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 2vh;
}

.cart-item-image {
    height: 100%;
    width: 225px;
    background-color: black;
}

.cart-item-info {
    height: 100%;
    width: 10%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-selected-options {
    height: 100%;
    width: calc(90% - 225px);
    transform: translate(0%, 40%);
}
