.checkout-textfield-flex {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.checkout-field-name {
    width: 100%;
    height: 15px;
    font-size: 15px;
    margin-bottom: 5px;
}

.checkout-textfield {
    border-style: solid;
    border-color: black;
    height: 20px;
    border-width: 0.5px;
}

.checkout-textfield:focus {
  border-color: black;
}
