.checkout-textfield {
    width: calc(100% - 5px);
    height: 35px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 20px;
}

.checkout-textfield:focus {
  border-color: black;
}
