

.gallery-image {
    max-height: 250px;
    flex: 0 0 22.5%; /* Set the flex basis to maintain the width */
    margin: 0 10px; /* Adjust the margins as desired */
    display: flex;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-image: url('../../../../public/placeholder.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
