
.checkout {
    width: 100vw;
    height: 90vh;
}

.checkout-stage-box {
    width: 100%;
    height: 60px;
    background-color: #DFDFDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.checkout-margin-bottom {
    margin-bottom: 10px;
}

.checkout-stage-text {
    font-size: 1.6rem;
    margin-left: 5%;
}

.checkout-flex {
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
    height: 100%;
    overflow-y: auto;
}

.checkout-information-entry-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 5%;
    width: 45%;
    height: 80%;
    margin-top: 80px;
}

.checkout-image-side {
    margin-left: 5%;
    width: 45%;
    margin-top: 80px;
    height: 80%;
    background-image: url('../../../public/placeholder.png');
}

.checkout-double-textfield {
    display: flex;
    width: 100%;
    gap: 10px;
}

.checkout-double-textfield-40 {
    width: 40%;
}

.checkout-double-textfield-30 {
    width: 30%;
}

.checkout-double-textfield-70 {
    width: 70%;
}

.checkout-double-textfield-60 {
    width: 60%;
}

.checkout-double-textfield-80 {
    width: 80%;
}

.checkout-double-textfield-20 {
    width: 20%;
}

.checkout-complete-button-section {
    margin-top: 18px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.checkout-complete-button {
    border-radius: 2%;
    width: 60%;
    height: 30px;
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.checkout-completion-modal {


}

