.shoe-card {
    flex: 0 0 25%; /* Set the flex basis to maintain the width */
    margin: 0 10px; /* Adjust the margins as desired */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-height: 300px;
}

.shoe-card-image-section {
    flex-grow: 1;
    margin-bottom: 20px; /* Adjust the spacing as desired */
    background-image: url("../../../../public/placeholder.png");
    background-size: cover;
}

.shoe-card-bottom-text {
    flex-shrink: 0;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 300;
}
